:root {
    --background: rgb(224, 234, 247);
    --header-background: none;
    --text-color: rgb(7, 5, 68);
    --label-color: rgb(75, 102, 98);
    --placeholder-color: rgb(136, 136, 153);
    --offset-color: rgb(217, 236, 217);
    --action-color: rgb(77, 132, 252);
}

html,
body {
    height: 100vh;
}


main {
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    height: 100vh;


}