.friends-section {
    display: flex;
    height: 50%;
    width: 100%;
    padding: 20px;

}

.us-three {
    display: flex;
    height: 50%;
    width: 100%;

}



img {
    width: 40%;
    height: 40%;
    object-fit: max-content;

}

video {
    width: 40%;
    height: 40%;
    object-fit: max-content;
}



.marilyn-img,
.mili-img {

    object-fit: max-content;
    backface-visibility: hidden;
}

.mili-video,
.marilyn-video {

    object-fit: max-content;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.card {
    overflow: hidden;
    position: sticky;
    transform-style: preserve-3d;
    transition: all 0.8 ease;
}


/* 
#marilyn-card,
#mili-card {
    position: absolute;
    width: 250px;
    height: 320px;

    transform: translate(-50%, -50%);
} */


/* flipping affect */


/* .flipCard {
    transform: rotateY(180deg);
} */