.friends-section {
    display: flex;

}

.bitmoji-section {
    display: flex;
}



img {
    height: 100px;
}

video {
    height: 100px;
}

.mili-container,
.marilyn-container {
    display: flex;
    flex-direction: row;
    object-fit: contain;
}

.marilyn-img,
.mili-img {
    height: 100%
}

.mili-video,
.marilyn-video {
    height: 100%;
}

.card {
    padding: 20px;
}



#marilyn-card,
#mili-card {
    width: 50%;

}


.flipCard {
    transform: rotateY(180deg);
}